run = "cd backend && python main.py"
entrypoint = "backend/main.py"

[nix]
channel = "stable-22_11"

[env]
PORT = "8080"
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"

[languages.python]
pattern = "**/*.py"
syntax = "python"

[languages.javascript]
pattern = "**/*.{js,jsx}"
syntax = "javascript"

[languages.html]
pattern = "**/*.html"
syntax = "html"

[packager]
language = "python3"

[packager.features]
packageSearch = true
guessImports = true

[unitTest]
language = "python3"

[workflows]
runButton = "Setup and Run"

[[workflows.workflow]]
name = "Setup and Run"
mode = "sequential"
author = 37192337

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sh setup.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py"

[[ports]]
localPort = 8080
externalPort = 80
